.App {
  text-align: center;
  background-color: #DAE0E6;  
}
.center{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.wrapper {
  display: flex;
  width: 100vw;
}
*{
  margin: 0;
}